/* Based on code from https://getbootstrap.com/docs/4.1/examples/dashboard/ */

html {
  height: 100%;
}

* {
  --muted-border-col: #21252955;
  --highlight-col: #007bff;
  --pale-grey: #dddddd;
  --mid-grey: #999999;
  --dark-grey: #333333;
  --dark-grey-alt: #343a40;
  --black-trans-40: #00000040;
  --white-trans-40: #ffffff40;
  --muted-title-col: #7a98ff;
  --very-dark-blue-trans-55: #00002455;
  --really-dark-blue-trans-aa: #000016aa;
}

body {
  font-size: 1.0rem;
  height: 100%;
  background-color: var(--pale-grey);
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */
 
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 black;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #c6d8ed;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: var(--dark-grey);
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: var(--mid-grey);
}

.sidebar .nav-link.active {
  color: var(--highlight-col);
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1.8rem;
  background-color: var(--black-trans-40);
  box-shadow: inset -1px 0 0 var(--black-trans-40);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: white;
  background-color: var(--white-trans-40);
  border-color: var(--white-trans-40);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px var(--white-trans-40);
}

.nav-link {
  font-size: 1.5rem;
}

.nav-item {
  border-width: 2px;
}

.cake-debug-output, .cake-error {
  margin-left: 400px;
  overflow-x: scroll;
}

.card-body, .card-body input {
  font-size: 1.8vw;
}

.card {
  height: 30vh;
}

.btn-info {
  background-color: var(--dark-grey-alt);
  font-size: 1.2vw;
}

.date-range-form {
  border: 1px solid black;
}

.message, .error {
  font-size: 1vw;
  color: #ffc38e;
}

/*
Login CSS adapted from 
https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=simple-login-form
*/
.login-title, .import-hint {
    color: var(--muted-title-col);
}

.login-form {
    width: 376px;
    margin: 48px auto;
    font-size: 1.2vw;
    background-color: var(--highlight-col); 
    border-radius: 5px; 
}


.login-form input, .login-form label {
    display: block;
}

.login-form form {
    margin-bottom: 15px;
    box-shadow: 3px 2px 8px 3px var(--very-dark-blue-trans-55);
    padding: 30px;
}
.form-control, input {
    min-height: 38px;
    max-width: 100%;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 1vw;
}

password {
    padding-bottom: 2vh;
}

.login-page:after {
    content: "";
    background: url("../img/World_map_1.png");
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.btn-xs {
    padding: .25rem .4rem;
    font-size: 1.2rem;
    border-radius: .2rem;
}

.topbar {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
}

.pagination > li {
    border: 2px solid #555;
    border-radius: 5px;
    margin-inline: 0.3vw;
    padding-inline: 0.7vw;
    font-weight: bold;
    background-color: var(--dark-grey);
}

a>img:hover {
    background: var(--highlight-col);
    border-radius: 50%;
    transform: scale(1.1) translateY(3px);
}

.date-pickers {
    border: 1px solid var(--muted-border-col);
    border-radius: 5px;
}

.date-pickers > div {
    padding-left: 1vw;
    font-size: 1vw;
    font-weight: bold;
}

.nav-link:hover, .btn-info:hover {
    transform: scale(1.02) translateY(1px);
    transition: 0.2s;
}

.btn-info:hover {
    background-color: var(--really-dark-blue-trans-aa);
}

#user-add {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    justify-content: end;
}

fieldset#user-add input {
    padding-block: 1vh;
    margin-block: 1vh;
    margin-inline: 1vw;
}

#admin {
  width: 1.4vw;
  height: 1.4vw;
}