/* Based on code from https://getbootstrap.com/docs/4.1/examples/dashboard/ */

html {
  height: 100%;
}

body {
  font-size: 1.0rem;
  height: 100%;
  background-color: #ddd;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 #00000019;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1.8rem;
  background-color: #00000040;
  box-shadow: inset -1px 0 0 #00000040;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: #ffffff40;
  border-color: #ffffff40;
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px #ffffff40;
}

.nav-link {
  font-size: 1.5rem;
  border: 1px solid #000;
}

.cake-debug-output, .cake-error {
  margin-left: 400px;
  overflow-x: scroll;
}

.card-body, .card-body input {
  font-size: 1.8vw;
}

.card {
  height: 30vh;
}

li.prev, li.next, .btn {
  font-size: 1.2rem;
  padding-inline: 2em;
  margin-inline: 1em;
}

.btn-info {
  background-color: #007bff;
}


.date-range-form {
  border: 1px solid #000;
}

.message, .error {
  font-size: 1vw;
  color: #ffc38e;
}

/*
Login CSS adapted from 
https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=simple-login-form
*/
.login-title {
    color: #7a98ff;
}

.login-form {
    width: 340px;
    margin: 50px auto;
    font-size: 1.2vw;
    background-color: #007bff; 
    border-radius: 5px; 
}
.login-form form {
    margin-bottom: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.form-control, input {
    min-height: 38px;
    max-width: 340px;
    border-radius: 5px;
    border: 1px solid #000;
    padding-left: 1vw;
}

body:after {
    content: "";
    background: url(https://www.spearline.com/contentfiles/images/World_map_1.png);
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}